include ../slider-clients/slider-clients

mixin section-clients
    section.uk-section.uk-background-secondary(data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;")
        .uk-container
            .uk-text-center.uk-light
                h2 What our clients say

            +slider-clients


