.uk-modal {
    z-index: 1050;

    h2 {
        padding-right: 60px;
        padding-left: 60px;
    }

    h3 {
        max-width: 650px;
        margin-right: auto;
        margin-left: auto;
    }

    .uk-form {
        max-width: 800px;
        margin-right: auto;
        margin-left: auto;
    }

    .uk-input {
        min-height: 60px;
    }
}

.uk-modal-body {
    padding: 15px;

    @media (min-width: @breakpoint-small) {
        padding: 30px;
    }
}

.uk-modal-dialog {
    width: 1000px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}

.uk-modal-close-default {
    width: 60px;
    height: 60px;
    top: 0;
    right: 0;
    bottom: -21px;
    text-align: center;
    background: none;
    border: 0;
    background-color: @global-primary-color-bright;
    cursor: pointer;

    svg {
        width: 14px;
        height: 14px;
        color: @global-color;
    }
}

#modal-video {
    .uk-modal-dialog {
        width: 560px;
        height: auto;

        @media (min-width: @breakpoint-small) {
            height: 315px;
        }
    }
}

.iframe-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.iframe-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}