.mobile-menu {

    &__close,
    &__open {
        width: 80px;
        height: 60px;
    }

    &__close {
        display: none;

        &:hover,
        &:active,
        &:focus {
            color: @global-primary-color;
        }

        > svg {
            display: none;
        }
    }
}

.uk-offcanvas-container {
    .mobile-menu__close {
        display: block;

        svg {
            pointer-events: none;
        }
    }
    .mobile-menu__open {
        display: none;

        svg {
            pointer-events: none;
        }
    }
}