.details-content {

    &__actions {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        width: 100%;
        margin-bottom: 30px;

        @media (min-width: @breakpoint-small) {
            width: 50%;
        }

        @media (min-width: @breakpoint-medium) {
            justify-content: space-around;
            width: auto;
            margin-bottom: 0;
        }
    }

    &__anchor {
        display: block;
        flex-basis: 50%;
        padding-top: 15px;
        padding-bottom: 15px;
        .font-size(18);
        text-align: center;
        background-color:  @global-background;;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
        cursor: pointer;

        @media (min-width: @breakpoint-small) {
            flex-basis: 25%;
        }

        &:hover,
        &:active,
        &:focus {
            background-color: @global-primary-background;
            color: @global-inverse-color;
        }
    }

    &__header {
        p {
            .font-size(14);
        }
    }

    &__info {
        margin-top: 30px;

        @media (min-width: @breakpoint-small) {
            margin-top: 0;
        }

        h2 {
            .font-size(24);

            @media (min-width: @breakpoint-small) {
                .font-size(30);
            }
        }
        h3 {
            .font-size(18);
            color: @global-primary-color;
        }

        p {
            .font-size(15);
        }
    }

    &__info-icon {
        width: 70px;
        margin-bottom: 40px;
    }

    &__share {

        .social {
            justify-content: center;

            @media (min-width: @breakpoint-medium) {
                justify-content: space-between;
            }
        }
    }

    &__sidebar {
        display: flex;
        flex-wrap: wrap;

        @media (min-width: @breakpoint-medium) {
            display: block;
        }
    }

    &__social {
        width: 100%;

        @media (min-width: @breakpoint-small) {
            width: 50%;
        }

        @media (min-width: @breakpoint-medium) {
            width: auto;
        }
    }
}