include ../offer/offer

mixin section-landing-holidays
    section.uk-section.section-landing-holidays.section-offers(data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;")
        .uk-container.uk-position-relative
            .uk-text-center
                h2 All Inclusive Golf Holidays
                p All-inclusive golf holidays are perfect for groups who want to know all of their costs upfront before travelling. It’s also a great way to reduce confusion about who needs to pay what in the restaurant or whose round it is next! This board basis is popular in the Belek region of Turkey, as well as Morocco, Costa Del Sol, the Algarve and Tenerife.

            .uk-flex.uk-flex-middle.uk-margin-medium-bottom
                .uk-text-muted.uk-text-left(class="uk-width-1-5@s uk-visible@s")
                    span(data-uk-icon="logo-mini")

            .swiper-container.slider-offers
                .swiper-wrapper
                    .swiper-slide
                        +offer
                    .swiper-slide
                        +offer
                    .swiper-slide
                        +offer
                    .swiper-slide
                        +offer
                    .swiper-slide
                        +offer
                    .swiper-slide
                        +offer
                    .swiper-slide
                        +offer
                    .swiper-slide
                        +offer
                    .swiper-slide
                        +offer
                    .swiper-slide
                        +offer

            a(href="#").swiper-button-next.uk-button-square.uk-background-muted
                span(data-uk-icon="arrow-right")
            a(href="#").swiper-button-prev.uk-button-square.uk-background-muted
                span(data-uk-icon="arrow-left")

            a(href="#").uk-button.section-landing-holidays__more Show me more