doctype
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")

        block head
            title= pageTitle || ""
            meta(name="description" content=pageDescription || "")

        meta(name="keywords" content="")
        meta(name="copyright" content="")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="HandheldFriendly" content="True")
        link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
        link(rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png")
        link(rel="icon" type="image/png" sizes="256x256" href="/android-chrome-256x256.png")
        link(rel="manifest" href="/site.webmanifest")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="theme-color" content="#21A04F")
        meta(name="msapplication-navbutton-color" content="#21A04F")

        block styles
            link(href="css/main.css" rel="stylesheet")

        block scripts-head

    body
        .main-container
            include _header

            block content

            include _footer

            block scripts-body
                //- script(src="js/jquery-1.12.4.min.js")
                script(src="js/app.js")
