include ./../components/logo/logo
include ./../components/modal-contact/modal-contact
include ./../components/modal-enquire/modal-enquire
include ./../components/modal-location/modal-location
include ./../components/modal-video/modal-video
include ./../components/social/social

footer.footer.uk-background-primary(data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;")
    .uk-container
        .uk-flex-center.uk-grid-match(data-uk-grid)
            div(class="uk-width-1-1 uk-width-1-2@s")
                div(class="uk-width-1-1 uk-width-1-2@s uk-visible@s")
                    h3 Popular Golf Holidays
                    ul.uk-list
                        li
                            a(href="#").footer__link Algarve Golf Holidays
                        li
                            a(href="#").footer__link Costa Del Sol Golf Holidays
                        li
                            a(href="#").footer__link Turkey Golf Holidays
                        li
                            a(href="#").footer__link UK Golf Holidays
                        li
                            a(href="#").footer__link Budget Golf Holidays
                        li
                            a(href="#").footer__link Stay & Play Golf Holidays
                        li
                            a(href="#").footer__link All Inclusive Golf Holidays
                        li
                            a(href="#").footer__link Vilamoura Holiday

                div(class="uk-width-1-1 uk-width-1-2@s")
                    h3 More Info
                    ul.uk-list
                        li
                            a(href="#").footer__link Terms & Conditions
                        li
                            a(href="#").footer__link Privacy Policy
                        li
                            a(href="#").footer__link Buying & Process
                        li
                            a(href="#").footer__link Previously Asked Questions
                        li
                            a(href="#").footer__link Contact

            div(class="uk-width-1-1 uk-width-1-2@s")
                .footer__social(class="uk-width-1-1 uk-width-expand")
                    h3 Follow Us
                    +social
                .uk-margin-auto-left(class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@l")
                    h3 Our Details
                    address.address
                        p Address line one to go here
                        p Address line two
                        p
                            a(href="tel:+4407817707415").footer__link M. + 44 (0) 7817 707 415
                        p
                            a(href="tel:+4401752876829").footer__link M. + 44 (0) 1752 876 829
                        p
                            a(href="mailto:sales@golfholidayshop.com").footer__link sales@golfholidayshop.com
                div(class="uk-width-1-1")
                    .footer__logo
                        +logo
    .footer__bottom.uk-background-dark.uk-padding

+modal-contact
+modal-enquire
+modal-location
+modal-video