mixin form-enquire
    form.uk-form
        .uk-text-center
            h2 Get in Touch
            h3.uk-text-emphasis If your interested in a package or need a call back to discuss your requirements just fill in your details below

        .uk-flex-center.uk-margin-bottom(data-uk-grid)
            div(class="uk-width-1-1 uk-width-1-2@s")
                input(type="text" name="username" placeholder="Name").uk-input
            div(class="uk-width-1-1 uk-width-1-2@s")
                input(type="email" name="usermail" placeholder="Email Address").uk-input
            div(class="uk-width-1-1")
                textarea.uk-textarea(name="usermessage" cols="30" rows="5" placeholder="I’m Interested in...")

        .uk-text-center.uk-margin-bottom
            label
                span.uk-margin-right Request a call back please tick here?
                input.uk-checkbox(type='checkbox', checked='')

        .uk-flex-center(data-uk-grid)
            div(class="uk-width-1-1 uk-width-1-2@s")
                input(type="tel" name="usertel" placeholder="Telephone Number").uk-input.uk-text-center
            .uk-text-center.uk-margin-bottom
                label
                    input.uk-checkbox(type='checkbox' checked='')
                    span.uk-text-small.uk-margin-left I agree to the terms and conditions laid out in the Privacy Policy *
        .uk-form-submit
            button(type="submit" name="submit").uk-button.uk-button-default Submit