mixin enquiring
    .enquiring.uk-text-uppercase
        .uk-flex
            .uk-background-primary.enquiring__phone
                p(class="uk-visible@m") Enquire now
                a(href="tel:00000000000").uk-margin-remove-bottom.enquiring__phone-value
                    span(class="uk-visible@m") 00000 000000
                    span.uk-light(data-uk-icon="phone" class="uk-hidden@m")
            .enquiring__mail.uk-flex.uk-flex-center.uk-flex-middle.uk-light(data-uk-toggle="target: #modal-enquire" title="Contact us form")
                button(data-uk-icon="mail")