.quick-search-toggle {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    padding: 0;
    .font-size(18);
    background: none;
    border: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;

    @media (min-width: @breakpoint-small) {
        bottom: 45%;
    }

    &:hover,
    &:active,
    &:focus {
        transition-duration: @global-transition-duration;

        .quick-search-toggle__icon {
            background-color: darken(@global-primary-color-bright, 5%);
        }

        .quick-search-toggle__text {
            background-color: darken(@global-primary-color, 5%);
        }
    }

    &__icon,
    &__text {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 60px;
        transition-duration: @global-transition-duration;
    }

    &__icon {
        padding-right: 15px;
        padding-left: 15px;
        background-color: @global-primary-color-bright;
    }

    &__text {
        padding: 0 15px 0 25px;
        background-color: @global-primary-color;
    }
}