mixin quick-search-toggle
    button(data-uk-toggle="target: #quick-search; animation: uk-animation-slide-left, duration: 300").quick-search-toggle.uk-flex
        span.uk-light.quick-search-toggle__text
            span <strong>Find</strong> Your<br> Holiday
        span.uk-light.quick-search-toggle__icon
            span(data-uk-icon="search")