.section-booking {

    @media (max-width: @breakpoint-large) {
        padding-bottom: 80px;
    }

    @media (max-width: @breakpoint-small) {
        padding-bottom: 40px;
    }

    .section-image {
        z-index: 1;
        position: absolute;
        top: -200px;
        right: 0;
        width: 500px;

        @media (min-width: @breakpoint-xlarge) {
            width: auto;
        }
    }
}