include ../uk-card/uk-card

mixin section-booking
    section.uk-section.uk-background-muted.uk-position-relative.section-booking#section-booking(data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;")
        img(src="img/golf-clubs.png" srcset="img/golf-clubs@2x.png 2x" alt="golf clubs" class="uk-visible@l").section-image
        .uk-container
            .uk-flex.uk-flex-middle.title
                .uk-light(class="uk-width-1-5@s uk-visible@s")
                    span(data-uk-icon="logo-mini")
                .uk-flex.uk-flex-center(class="uk-width-expand@s")
                    h2.uk-margin-remove-bottom Why Book With Us
                div(class="uk-width-1-5@s uk-visible@s")

            .uk-flex-center.uk-grid-match(data-uk-grid)
                div(class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m")
                    +uk-card(
                        'Expert knowledge & local advice',
                        'We are committed to ensuring our clients get exactly what they want to maximise your holiday by giving you the best local advice, knowledge & guidance',
                        'uk-button-primary'
                    )
                div(class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m")
                    +uk-card(
                        'Protected holidays',
                        'Golf Holiday Shp are members of protected trust services which guarantee’s 100% of your booking is financially secure. You can book your golf holiday with confidence ensuring a stress free experience.',
                        'uk-button-warning'
                    )
                div(class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m")
                    +uk-card(
                        'Passion for golf & travel',
                        'Golf Holiday Shp are members of protected trust services which guarantee’s 100% of your booking is financially secure. You can book your golf holiday with confidence ensuring a stress free experience.',
                        'uk-button-secondary'
                    )
                div(class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m")
                    +uk-card(
                        'Amazing choice',
                        'We have been involved with golf over twenty years and love meeting and sharing experiences with new golfers. We are committed to providing amazing golf experiences and being an important player in the golf industry.',
                        'uk-button-default'
                    )
                div(class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m")
                    +uk-card(
                        'Low price guarantee',
                        'We can garantee that when you book a golf holiday with us you will be getting the best value and price possible. We offer a price match guarantee.',
                        'uk-button-info'
                    )