mixin form-newsletter
    form(action="#").uk-form.uk-position-relative.uk-overflow-hidden.uk-background-default.uk-padding.form-newsletter
        .form-newsletter__inner
            a(href="#").uk-form-ribbon.uk-background-primary.uk-light 20% off
            .uk-title.uk-text-center
                h2 Newsletter Sign up
                h3.uk-text-emphasis Obtain a 20% off code
                p when you sign up for the latest news and all the latest offers and deals

            .uk-flex-center.uk-grid-match.uk-margin-bottom(data-uk-grid)
                div(class="uk-width-1-1 uk-width-1-2@s")
                    input(type="text" name="username" placeholder="Name").uk-input
                div(class="uk-width-1-1 uk-width-1-2@s")
                    input(type="email" name="usermail" placeholder="Email Address").uk-input

            .uk-text-center.uk-margin-bottom
                label
                    input.uk-checkbox(type='checkbox' checked='')
                    span.uk-text-small.uk-margin-small-left I agree to the terms and conditions laid out in the Privacy Policy *
            
            .uk-text-center
                button(type="submit").uk-button.uk-button-default.uk-button-large.form-newsletter__submit Submit