.form-newsletter {

    h3 {
        .font-size(20);
        font-weight: 500;

        @media (min-width: @breakpoint-small) {
            .font-size(26);
        }
    }

    p {
        .font-size(16);
        font-weight: 500;

        @media (min-width: @breakpoint-small) {
            .font-size(18);
        }
    }

    .uk-input {
        min-height: 60px;
    }

    &__inner {
        max-width: 1000px;
        margin-right: auto;
        margin-left: auto;
    }

    &__submit.uk-button-large {
        width: 232px;
        height: auto;
        padding-top: 0;
        padding-bottom: 0;

        @media (min-width: @breakpoint-small) {
            .font-size(18);
            height: 74px;
        }
    }
}