include ../quick-search/quick-search
include ../quick-search-toggle/quick-search-toggle
include ../scroll-to/scroll-to
include ../section-location/section-location
include ../section-other-packages/section-other-packages
include ../section-packages/section-packages
include ../slider-details/slider-details
include ../social/social

mixin section-details-content
    section.uk-section.section-details-content
        .details-content
            +quick-search-toggle
            .uk-container(data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;")
                div(data-uk-grid)
                    div(class="uk-width-expand@s")
                        .details-content__header.uk-flex.uk-flex-wrap
                            h2 Salgados Palm Village Suites – ALGARVE 4*
                            p Salgados Palm Village provides everything a great golf holiday needs - fantastic accommodation with golf on-site with a lively town close by for evening entertainment.
                    .uk-text-center(class="uk-width-1-4@s")
                        button.uk-button.uk-button-default.uk-button-medium(data-uk-toggle="target: #modal-enquire") Enquire Now

                div(data-uk-grid)
                    div(class="uk-width-expand@m")
                        +slider-details
                    .details-content__sidebar(class="uk-width-1-3@m")
                        .details-content__actions
                            .uk-flex.uk-flex-middle.uk-flex-column
                                strong.uk-margin-small-bottom.uk-text-center Watch the video
                                button(data-uk-toggle="target: #modal-video").uk-button-square.uk-background-primary.uk-light
                                    span(data-uk-icon="video")
                            .uk-flex.uk-flex-middle.uk-flex-column
                                strong.uk-margin-small-bottom.uk-text-center View Location
                                button(data-uk-toggle="target: #modal-location").uk-button-square.uk-background-primary.uk-light
                                    span(data-uk-icon="location")

                        .uk-flex.uk-flex-middle.uk-flex-column.uk-margin-top.details-content__social
                            p.uk-text-emphasis Share with others
                            .details-content__share
                                +social-share
            
            .details-content__info
                .uk-container-expand.uk-background-muted
                    .details-content__anchors.uk-flex.uk-flex-wrap
                        a(href="#details-packages" data-uk-scroll title="Scroll to Packages").details-content__anchor Packages
                        a(href="#details-overview" data-uk-scroll title="Scroll to Overview").details-content__anchor Overview
                        a(href="#details-courses" data-uk-scroll title="Scroll to Courses").details-content__anchor Courses
                        a(href="#details-accomodation" data-uk-scroll title="Scroll to Accomodation").details-content__anchor Accomodation

                    section.uk-section.uk-background-muted.details-content__info-item#details-overview(data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;")
                        .uk-container
                            h2 Overview

                            p The elegant 5 star Hotel Albatroz is a member of the Leading Small Hotels of the World and was formerly a royal summer retreat until it was transformed into one of Portugals top boutique hotels. It enjoys a spectacular cliff-top location overlooking the main beach in Cascais, just minutes from the town centre. The excellent hotel service and the charm of a privately owned residence give each of the 53 rooms and suites a unique character. Enjoy a pre-dinner aperitif in a favourite gathering place for cocktails and conversation after-hours in the Bar Terrace Albatroz overlooking the full Cascais Bay. 

                            p Enjoy the excellent cuisine, served by experienced staff, in this casual atmosphere for lighter meals a small menu offers choice of delicious fresh salads, light snacks, grilled meat and fish or yet fast afternoon meals with light snacks or sandwiches or a Five oclock tea are also served in the Bar. Golf is played across a selection of fabulous courses in the cascais area including, oitavos dunes, quinta da marinha, estoril and lisbon sports club. 
                    
                    +scroll-to("#details-courses")

                .uk-container-expand.uk-background-default
                    section.uk-section.details-content__info-item#details-courses(data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;")
                        .uk-container
                            h2 Courses
                            h3 Estoril
                            p The prestigious Golf do Estoril, 20 times venue of The Portuguese Open and one of Portugals oldest courses, has stood the stand of time as one of the most enjoyable golfing experiences in the country. Designed by Mackenzie Ross, this Par 69 course comprises of a fairly straightforward layout rewarding accuracy rather than power. A short course, stretching just 5,262 metres, is set amongst eucalyptus, pine and mimosa trees, giving it a uniquely colourful touch. There are very few water hazards but the real challenge here is the narrow fairways and undulating landscape, which are consistent throughout the design.

                            p Buggies are in short supply here so please make sure your requirements are made known early. Golf do Estoril is situated in an outstanding location, nestled in one of Europes oldest holiday resorts, making it a great option on your Lisbon golf holiday.

                            h3 Quinta Do Marinha

                            p An exciting, 18 hole championship golf course designed by the internationally acclaimed golf architect Robert Trent Jones. The first nine holes are set in spectacular countryside while the second nine are on the cliff top, with sensational views over the Atlantic Ocean. The course is dotted with sand and water in true Trent Jones style. Very popular and justifiably so.

                    section.uk-section.details-content__info-item.uk-padding-remove-top#details-accomodation(data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;")
                        .uk-container
                            img(src="img/logo-mini-color.svg" alt="").details-content__info-icon
                            h2 Accommodation

                            p The elegant 5 star Hotel Albatroz is a member of the Leading Small Hotels of the World and was formerly a royal summer retreat until it was transformed into one of Portugals top boutique hotels. It enjoys a spectacular cliff-top location overlooking the main beach in Cascais, just minutes from the town centre. The excellent hotel service and the charm of a privately owned residence give each of the 53 rooms and suites a unique character. Enjoy a pre-dinner aperitif in a favourite gathering place for cocktails and conversation after-hours in the Bar Terrace Albatroz overlooking the full Cascais Bay. Enjoy the excellent cuisine, served by experienced staff, in this casual atmosphere for lighter meals a small menu offers choice of delicious fresh salads, light snacks, grilled meat and fish or yet fast afternoon meals with light snacks or sandwiches or a Five oclock tea are also served in the Bar.
                    +scroll-to("#details-packages")
                .uk-container-expand.uk-background-secondary(data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;")
                    +section-packages
                .uk-container-expand.uk-background-muted(data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;")
                    +section-location
                .uk-container(data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;")
                    +section-other-packages
    +quick-search