// http://cssmojo.com/the-very-latest-clearfix-reloaded
.clearfix() {
    &:before,
    &:after {
        content: " ";
        display: block;
    }

    &:after {
        clear: both;
    }
}

.clearfix {
    .clearfix();
}
