include ../form-newsletter/form-newsletter

mixin section-newsletter
    section.uk-section#section-newsletter.uk-background-muted(data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;")
        .uk-container
            +form-newsletter
