.slider-details {
    max-width: 847px;
    padding-bottom: 0;
    justify-content: space-around;

    @media (min-width: @breakpoint-medium) {
        justify-content: space-between;
        padding-bottom: 70px;
    }

    .uk-slider-container {
        margin-bottom: 20px;
    }

    .uk-slider-items > * {
        height: 50vh;

        @media (min-width: @breakpoint-small) {
            height: auto;
        }
    }

    .uk-thumbnav {
        justify-content: space-between;

        img {
            width: 100%;
        }
    }

    .uk-thumbnav > * {
        width: calc(100% / 6);
    }
}