mixin slider-details-item
    li
        img(src="img/village.jpg" alt="imgAlt" width="847" height="540")

mixin slider-details
    .slider-details(data-uk-slider='')
        .uk-position-relative
            .uk-slider-container
                ul.uk-slider-items
                    +slider-details-item
                    +slider-details-item
                    +slider-details-item
                    +slider-details-item
                    +slider-details-item
                    +slider-details-item
        ul.uk-thumbnav(data-uk-margin='')
            li(data-uk-slider-item="0").uk-active
                a(href='#')
                    img(src='img/village.jpg' width='128' alt='thumb')
            li(data-uk-slider-item="1")
                a(href='#')
                    img(src='img/village.jpg' width='128' alt='thumb')
            li(data-uk-slider-item="2")
                a(href='#')
                    img(src='img/village.jpg' width='128' alt='thumb')
            li(data-uk-slider-item="3").uk-active
                a(href='#')
                    img(src='img/village.jpg' width='128' alt='thumb')
            li(data-uk-slider-item="4")
                a(href='#')
                    img(src='img/village.jpg' width='128' alt='thumb')
            li(data-uk-slider-item="5")
                a(href='#')
                    img(src='img/village.jpg' width='128' alt='thumb')

