mixin slider-item
    li
        .uk-grid-large(data-uk-grid)
            div(class="uk-width-1-1 uk-width-1-2@m")
                img(src='img/clients.jpg' srcset="img/clients@2x.jpg 2x" alt='client').slider-clients__image
            .uk-light(class="uk-width-1-1 uk-width-1-2@m")
                h3 Location: Spain | No of people 16
                p Sertae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntet dolore magnam aliquam quaerat voluptatem. Ut enim ad mioluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntet dolore magnam aliquam quaerat voluptatem. Ut enim ad minima venia.
                p Suia consequuntet dolore magnam aliquam quaerat voluptatem

mixin slider-clients
    .slider-clients.uk-position-relative(data-uk-slider)
        ul.uk-slider-items(class="uk-child-width-1-1")
            +slider-item
            +slider-item
            +slider-item
            +slider-item
            +slider-item
            +slider-item
            +slider-item
            +slider-item
        .uk-flex.uk-flex-center.uk-flex-middle.slider-clients__controls
            a.uk-button-square.slider-clients__arrow(href='#' data-uk-slider-item='previous')
                span(data-uk-icon="arrow-left")
            ul.uk-slider-nav.uk-dotnav.uk-flex-center
            a.uk-button-square.slider-clients__arrow(href='#' data-uk-slider-item='next')
                span(data-uk-icon="arrow-right")
