@slider-clients-arrow-bg: #329da0;
@slider-clients-arrow-bg-active: @button-default-color;
@slider-clients-arrow-color: @button-default-color;
@slider-clients-arrow-color-active: #329da0;

.slider-clients {
    .font-size(14);
    text-align: center;

    @media (min-width: @breakpoint-medium) {
        text-align: left;
    }

    h3 {
        font-weight: 500;
        .font-size(21);
    }

    &__arrow {
        background-color: @slider-clients-arrow-bg;
        color: @slider-clients-arrow-color;

        &:hover,
        &:active,
        &:focus {
            background-color: @slider-clients-arrow-bg-active;
            color: @slider-clients-arrow-color-active;
        }
    }

    &__controls {
        margin-top: 20px;
    }

    &__image {
        display: block;
        max-width: 200px;
        width: 100%;
        height: auto;
        border: 8px solid @global-primary-color;
        object-fit: cover;
        margin-right: auto;
        margin-left: auto;

        @media (min-width: @breakpoint-medium) {
            max-width: 100%;
            width: 556px;
            height: 294px;
        }
    }
}