.section-intro-landing {

    &__image {
        width: 100%;
        min-height: 50vh;
        object-fit: cover;

        @media (min-width: @breakpoint-small) {
            min-height: auto;
        }
    }

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    &__title {
        display: flex;
        align-items: center;
        color: @global-inverse-color;
    }
}