include ../enquiring/enquiring
include ../quick-search/quick-search
include ../quick-search-toggle/quick-search-toggle

mixin section-intro-landing
    section.section-intro-landing.uk-position-relative(data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false;")
        img(src="img/intro-landing.jpg" srcset="img/intro-landing@2x.jpg 2x" alt="All inclusive holidays" width="1727" height="471").section-intro-landing__image
        .uk-container
            .section-intro-landing__inner.uk-position-absolute.uk-position-top-left
                .uk-flex.uk-flex-center.uk-flex-middle.uk-padding-small.uk-background-primary.uk-light
                    span.uk-margin-right(data-uk-icon="brand-icon")
                    h2.uk-margin-remove-bottom All Inclusive Holidays
        +enquiring
        +quick-search
        +quick-search-toggle