include ../offer/offer

mixin section-offers
    section.uk-section.section-offers#section-offers(data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;")
        .uk-container.uk-position-relative
            .uk-flex.uk-flex-middle.title
                .uk-text-muted.uk-text-left(class="uk-width-1-3@s uk-visible@s")
                    span(data-uk-icon="logo-mini")
                .uk-flex.uk-flex-center(class="uk-width-expand@s")
                    h2.uk-margin-remove-bottom Latest offers
                .uk-text-right(class="uk-width-1-3@s uk-visible@s")
                    button.uk-button.uk-button-default.uk-button-medium
                        span(data-uk-icon="search")
                        span.uk-text-uppercase Search

            .swiper-container.slider-offers
                .swiper-wrapper
                    .swiper-slide
                        +offer
                    .swiper-slide
                        +offer
                    .swiper-slide
                        +offer
                    .swiper-slide
                        +offer
                    .swiper-slide
                        +offer
                    .swiper-slide
                        +offer
                    .swiper-slide
                        +offer
                    .swiper-slide
                        +offer
                    .swiper-slide
                        +offer
                    .swiper-slide
                        +offer

            a(href="#").swiper-button-next.uk-button-square.uk-background-muted
                span(data-uk-icon="arrow-right")
            a(href="#").swiper-button-prev.uk-button-square.uk-background-muted
                span(data-uk-icon="arrow-left")
