.section-offers {

    @media (max-width: @breakpoint-small) {
        padding-bottom: 80px;
    }

    .swiper-button-prev {
        top: auto;
        bottom: auto;
        left: 15px;
        margin-top: 0;
        transform: translateY(0);
        color: @global-primary-color;

        @media (min-width: @breakpoint-small) {
            top: auto;
            left: 30px;
        }

        @media (min-width: @breakpoint-xlarge) {
            top: 50%;
            left: -100px;
            transform: translateY(-50%);
        }

        &:hover,
        &:active,
        &:focus {
            background-color: @global-primary-background;
            color: @global-inverse-color;
        }
    }
    
    .swiper-button-next {
        top: auto;
        right: 15px;
        bottom: auto;
        margin-top: 0;
        transform: translateY(0);
        color: @global-primary-color;

        @media (min-width: @breakpoint-small) {
            top: auto;
            right: 30px;
        }

        @media (min-width: @breakpoint-xlarge) {
            top: 50%;
            right: -100px;
            transform: translateY(-50%);
        }

        &:hover,
        &:active,
        &:focus {
            background-color: @global-primary-background;
            color: @global-inverse-color;
        }
    }
}