mixin news-link
    div(class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m uk-width-1-4@l")
        a(href="#").uk-background-default.link-button Why book with us

mixin section-links
    .uk-section.uk-background-dark.section-links(data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;")
        .uk-container
            .uk-grid-small(data-uk-grid)
                +news-link
                +news-link
                +news-link
                +news-link
                +news-link
                +news-link
                +news-link
                +news-link
