.header {
    z-index: 1040;
    background-color: @global-background;
    box-shadow: 0 -10px 20px rgba(0,0,0,0.5);

    &__inner {
        max-width: 1725px;
        margin-right: auto;
        margin-left: auto;
        min-height: 60px;

        @media (min-width: @breakpoint-small) {
            min-height: 90px;
        }
    }

    &__logo {
        width: 50vw;

        @media (min-width: @breakpoint-small) {
            width: 200px;
        }
        
        @media (min-width: 1600px) {
            width: 440px;
        }
    }

    &__nav {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        justify-content: center;
    }
}