mixin choice
    div(class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m uk-width-1-4@l")
        a(href="").uk-background-default.link-button Luxury holidays

mixin section-fast-choice
    section.uk-section.section-fast-choice.uk-background-primary(data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;")
        .uk-container.uk-position-relative
            .uk-flex.uk-flex-middle.uk-light.title
                div(class="uk-width-1-5@s uk-visible@s")
                    span(data-uk-icon="logo-mini")
                .uk-flex.uk-flex-center(class="uk-width-expand@s")
                    h2.uk-margin-remove-bottom Fast Choice
                div(class="uk-width-1-5@s uk-visible@s")
                    .uk-text-center.section-fast-choice__ask(class="uk-visible@xl") Ask Sten

            .uk-flex-center.uk-grid-match.uk-grid-small.section-fast-choice__grid(data-uk-grid)
                +choice
                +choice
                +choice
                +choice
                +choice
                +choice
                +choice
                +choice
                +choice
                +choice
                +choice
                +choice
            
            .uk-text-center.uk-margin-top.uk-light
                a(href="#" title="Link to more choices").link-more + More

            img(src="img/sten.png" srcset="img/sten@2x.png 2x" alt="Ask Sten" class="uk-visible@xl").section-fast-choice__image