.section-fast-choice {
    overflow-x: hidden;

        @media (min-width: @breakpoint-small) {
            padding-top: 50px;
            padding-bottom: 50px;
        }

    &__ask {
        .font-size(32);
        font-family: @font-family-high-tide;
    }

    &__image {
        position: absolute;
        right: -200px;
        bottom: -50px;
    }

    &__grid {
        z-index: 10;
        position: relative;
    }

    .title {
        margin-bottom: 30px;
    }
}