mixin tour
    li.tour.uk-light
        a(href="#").tour__link.uk-display-block
            img(src='img/tour.jpg' alt='imgAlt').tour__image
            .tour__inner
                h3.tour__name Rocky Mountain Canada

mixin section-tours
    section.uk-section.section-tours#section-tours(data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;")
        .uk-container.uk-container-expand
            .uk-text-center
                h2 Specialist Tours

            .slider-tours(data-uk-slider='')
                .uk-position-relative
                    .uk-slider-container
                        ul.uk-slider-items.uk-grid.uk-grid-small.uk-child-width-1-1(class='uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-3@l uk-child-width-1-4@xl')
                            +tour
                            +tour
                            +tour
                            +tour
                            +tour
                            +tour

                    div(class="uk-hidden@l")
                        a.uk-position-center-left-out.uk-position-small.uk-button-square.slider-tours__prev(href='#' data-uk-slider-item='previous')
                            span(data-uk-icon="arrow-left")
                        a.uk-position-center-right-out.uk-position-small.uk-button-square.slider-tours__next(href='#' data-uk-slider-item='next')
                            span(data-uk-icon="arrow-right")
