include ../country-list/country-list
include ../scroll-to/scroll-to

mixin section-popular
    section.uk-section.uk-background-cover.section-popular(style="background-image: url(img/popular.jpg)" data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;")
        .uk-container
            .uk-flex-center(data-uk-grid)
                div(class="uk-width-1-2@l")
                    .section-popular__destinations
                        h2.uk-text-center.section-popular__title Popular Destinations
                        +country-list

                div(class="uk-width-1-2@l")
                    .section-popular__discount-wrap
                        .section-popular__discount
                            h2.uk-text-center.section-popular__title Group Discount
                        .clearfix
                            a(href="#").uk-background-primary.uk-padding-small.uk-text-center.section-popular__discount-link.section-popular__discount-link--primary
                                h3 Early Chip in
                                p Book early & SAVE
                            a(href="#").uk-background-warning.uk-padding-small.uk-text-center.section-popular__discount-link.section-popular__discount-link--warning
                                h3 Get £25 off
                                p Your next golf holiday
                            a(href="#").uk-background-secondary.uk-padding-small.uk-text-center.section-popular__discount-link.section-popular__discount-link--secondary
                                h3 Gain Loyalty
                                p Loyalty points with us
        +scroll-to-inverse("#section-newsletter")
