.slider-tours {

    &__prev,
    &__next {
        background-color: @global-dark-background;
        color: @global-inverse-color;

        &:hover,
        &:active,
        &:focus {
            background-color: @global-muted-background;
            color: @global-color;
        }
    }

    &__next {
        right: 0;
        left: auto;
    }

    &__prev {
        left: 0;
    }
}