include ../offer/offer

mixin section-other-packages
    section.uk-section.section-other-packages.section-offers
        .uk-container.uk-position-relative
            h2.uk-text-center Other packages

            .swiper-container.slider-other-packages.uk-margin-bottom
                .swiper-wrapper
                    .swiper-slide
                        +offer
                    .swiper-slide
                        +offer
                    .swiper-slide
                        +offer
                    .swiper-slide
                        +offer
                    .swiper-slide
                        +offer
                    .swiper-slide
                        +offer
                    .swiper-slide
                        +offer
                    .swiper-slide
                        +offer
                    .swiper-slide
                        +offer
                    .swiper-slide
                        +offer

            a(href="#").swiper-button-next.uk-button-square.uk-background-muted
                span(data-uk-icon="arrow-right")
            a(href="#").swiper-button-prev.uk-button-square.uk-background-muted
                span(data-uk-icon="arrow-left")
