mixin form-search
    form.uk-form.uk-background-primary.uk-overflow-hidden.form-search
        a(href="#").uk-form-ribbon.uk-form-ribbon--new.uk-background-primary-light.uk-text-uppercase
            span View
            strong.uk-light New In
        h2.uk-text-center.uk-light Find Your Next Golf Holiday

        .form-search__container
            .uk-flex-center.uk-grid-small(data-uk-grid)
                div(class="uk-width-1-1 uk-width-1-3@s")
                    label.uk-form-label.uk-light.uk-text-uppercase Location
                    select.uk-select
                        option option1
                        option option2
                div(class="uk-width-1-1 uk-width-1-3@s")
                    label.uk-form-label.uk-light.uk-text-uppercase Number in group
                    select.uk-select
                        option option1
                        option option2
                div(class="uk-width-1-1 uk-width-1-3@s")
                    label.uk-form-label.uk-light.uk-text-uppercase Type of holiday
                    select.uk-select
                        option option1
                        option option2

        .uk-flex
            div(class="uk-width-1-5@s uk-visible@s")
                .uk-light.form-search__icon(data-uk-icon="logo-mini")
            .uk-flex.uk-flex-center(class="uk-width-expand@s")
                button.uk-button.uk-button-default.uk-button-large
                    span(data-uk-icon="search")
                    span.uk-text-uppercase Lets Golf
            div(class="uk-width-1-5@s uk-visible@s")