.form-search {
    position: relative;
    top: 0;
    margin-right: -15px;
    margin-left: -15px;
    padding: 20px;

    @media (min-width: @breakpoint-large) {
        top: -200px;
        margin-right: 0;
        margin-left: 0;
        padding: 40px;
    }

    h2 {
        letter-spacing: 2px;
        margin-bottom: 0;

        @media (min-width: @breakpoint-small) {
            margin-bottom: 32px;
        }
    }

    &__container {
        max-width: 940px;
        width: 100%;
        margin-right: auto;
        margin-bottom: 20px;
        margin-left: auto;

        @media (min-width: @breakpoint-small) {
            margin-bottom: 50px;
        }
    }

    &__icon {
        opacity: 0.2;
    }
}