include ../enquiring/enquiring

mixin section-intro
    section.uk-section.uk-padding-remove-top.uk-padding-remove-bottom.section-intro(data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false;")
        .uk-container.uk-container-large.uk-position-relative
            div(data-uk-slider).slider-intro
                ul.uk-slider-items
                    li
                        img(src='img/intro.jpg' srcset="img/intro@2x.jpg 2x" alt='intro image').slider-intro__image
                        .slider-intro__caption.uk-flex.uk-flex-column.uk-flex-center.uk-light
                            .slider-intro__caption-inner
                                .uk-flex.uk-flex-center.uk-flex-middle.uk-background-primary
                                    span.uk-margin-left(data-uk-icon="brand-icon")
                                    h2.uk-text-uppercase Amazing <span>golf holidays</span>
                                p.uk-background-secondary Sub text styling that can go in this area short explanation
                                a(href="#").uk-text-uppercase.uk-background-dark Show me
                    li
                        img(src='img/intro.jpg' srcset="img/intro@2x.jpg 2x" alt='intro image').slider-intro__image
                        .slider-intro__caption.uk-flex.uk-flex-column.uk-flex-center.uk-light
                            .slider-intro__caption-inner
                                .uk-flex.uk-flex-center.uk-flex-middle.uk-background-primary
                                    span.uk-margin-left(data-uk-icon="brand-icon")
                                    h2.uk-text-uppercase Amazing <span>golf holidays</span>
                                p.uk-background-secondary Sub text styling that can go in this area short explanation
                                a(href="#").uk-text-uppercase.uk-background-dark Show me
            +enquiring