.footer {

    .uk-container {
        padding-top: 40px;
        padding-bottom: 40px;

        @media (min-width: @breakpoint-large) {
            padding-top: 80px;
            padding-bottom: 80px;
        }
    }

    .uk-list {
        padding-right: 5px;
    }

    &__link {
        .font-size(13);
        color: @global-inverse-color;

        &:hover,
        &:active,
        &:focus {
            color: @global-color;
        }
    }

    &__logo {
        width: 75%;
        margin-top: 20px;
        margin-right: auto;
        margin-left: auto;

        @media (min-width: @breakpoint-large) {
            width: auto;
            margin: 0;
            text-align: right;
        }
    }

    &__social {
        margin-bottom: 30px;
        padding-right: 0;

        @media (min-width: @breakpoint-small) {
            padding-right: 10px;
        }

        @media (min-width: @breakpoint-large) {
            margin-bottom: 0;
            padding-right: 0;
        }

        .social {
            justify-content: center;

            @media (min-width: @breakpoint-small) {
                justify-content: flex-start;
            }
        }
    }
}