include ../social/social

mixin section-follow-us
    section.section-follow-us(data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;")
        .uk-container.uk-position-relative.uk-background-secondary
            div(data-uk-grid)
                div(class="uk-width-1-2@s uk-width-1-2@l")
                    .uk-flex.uk-flex-center.uk-flex-middle.uk-light
                        .uk-margin-right
                            span(data-uk-icon="logo-mini-2").section-follow-us__icon
                        div
                            div Follow us & get connected
                            div Call. <a href="tel:000000000000" class="section-follow-us__tel">00000 0000000</a>
                .section-follow-us__social(class="uk-width-1-3@s uk-width-1-2@l")
                    +social