mixin section-packages
    section.uk-section.section-packages#details-packages
        .uk-container
            .uk-flex.uk-flex-between.uk-flex-middle.uk-light.section-packages__header
                h2 Our Packages
                span.section-packages__call Call: <a href="tel:00000000000">00000 000000</a>

            .section-packages__item.uk-position-relative.uk-background-default
                .section-packages__item-inner
                    .uk-margin-bottom
                        strong 3 NIGHTS ALL INCLUSIVE + 2 ROUNDS OF GOLF FROM £285 pp (Groups of 4)
                    div(data-uk-grid)
                        div(class="uk-width-1-2@s")
                            strong INCLUDES
                            ul
                                li 3 Nights B&B At 5* Sau Rafael Suites Hotel
                                li 2 Days Unlimited Golf over a choice of Salgados / Alamos / Morgado
                                li Free Golf Shuttle to the courses
                                li Based on 4 sharing a 2 bedroom suite
                        div(class="uk-width-1-2@s")
                            strong DEAL DATES:
                            ul
                                li
                                    .uk-flex.uk-flex-between.uk-flex-middle
                                        span.uk-margin-small-right 1ST MARCH - 30TH APRIL
                                        strong.uk-text-emphasis FROM £285
                                li 1st MAY - 30TH JUNE
                                    .uk-flex.uk-flex-between.uk-flex-middle
                                        span.uk-margin-small-right 1ST MARCH - 30TH APRIL
                                        strong.uk-text-emphasis FROM £285
                                li 16TH SEPT - 31ST OCT
                                    .uk-flex.uk-flex-between.uk-flex-middle
                                        span.uk-margin-small-right 1ST MARCH - 30TH APRIL
                                        strong.uk-text-emphasis FROM £285

                .section-packages__enquire.uk-text-center
                    button.uk-button.uk-button-default(data-uk-toggle="target: #modal-enquire") Enquire about this package
