.section-packages {

    li {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__call {
        .font-size(20);

        @media (min-width: @breakpoint-medium) {
            .font-size(26);
        }
    }

    &__enquire {
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
        margin-top: 30px;

        @media (min-width: @breakpoint-medium) {
            position: absolute;
            bottom: -20px;
            margin-top: 0;
        }

        button {
            padding: 10px;

            @media (min-width: @breakpoint-small) {
                padding: 10px 20px;
            }
        }
    }

    &__header {
        margin-bottom: 50px;
    }

    &__item {
        padding: 40px 15px 70px 15px;

        @media (min-width: @breakpoint-small) {
            padding: 40px 30px 70px 30px;
        }
    }

    &__item-inner {
        max-width: 760px;
        margin-right: auto;
        margin-left: auto;
    }

    h2 {
        margin-bottom: 0;
        .font-size(24);

        @media (min-width: @breakpoint-medium) {
            .font-size(30);
        }
    }
}