.uk-card {
    margin-top: 20px;
    margin-bottom: 20px !important;

    p {
        display: none;
        .font-size(14);

        @media (min-width: @breakpoint-small) {
            display: block;
        }
    }
}

.uk-card-link {
    position: absolute;
    bottom: -30px;
    right: 0;
    left: 0;
    max-width: 150px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    .font-size(16);
    letter-spacing: 1px;
    color: @global-inverse-color;
}

.uk-card-title {
    .font-size(16);

    @media (min-width: @breakpoint-small) {
        .font-size(26);
    }
}