.section-search {
    background-image: url("../img/section-search.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;

    @media (max-width: @breakpoint-small) {
        padding: 0;
    }
}