include ../form-search/form-search

mixin section-search
    section.uk-section.uk-background-dark.section-search(data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false;")
        .uk-container.uk-container-large
            .uk-container
                +form-search