extends ./templates/_base-template
include ./components/quick-search-toggle/quick-search-toggle
include ./components/section-details-header/section-details-header
include ./components/section-details-content/section-details-content
include ./components/section-blogs/section-blogs
include ./components/section-clients/section-clients
include ./components/section-links/section-links
include ./components/scroll-to/scroll-to

prepend head
    - var pageTitle = 'Details';

block content
    main.main
        +section-details-header
        +section-details-content
        +section-links
        +section-clients
        +section-blogs