extends ./templates/_base-template
include ./components/section-blogs/section-blogs
include ./components/section-clients/section-clients
include ./components/section-fast-choice/section-fast-choice
include ./components/section-follow-us/section-follow-us
include ./components/section-intro-landing/section-intro-landing
include ./components/section-links/section-links
include ./components/section-newsletter/section-newsletter
include ./components/section-landing-holidays/section-landing-holidays
include ./components/section-popular/section-popular
include ./components/section-tours/section-tours
include ./components/scroll-to/scroll-to

prepend head
    - var pageTitle = 'Landing';

block content
    main.main
        +section-intro-landing
        +section-landing-holidays
        +scroll-to("#section-tours")
        +section-tours
        +section-fast-choice
        +section-popular
        +section-follow-us
        +section-newsletter
        +section-links
        +section-clients
        +section-blogs