
include ../form-search/form-search

mixin quick-search
    .quick-search#quick-search(hidden)
        button.quick-search__close(type='button' data-uk-toggle="target: #quick-search; animation: uk-animation-slide-left")
            span(data-uk-icon="close")
        +form-search