.quick-search {
    z-index: 1050;
    position: fixed;
    top: 100px;
    right: 0;
    left: 0;

    @media (min-width: @breakpoint-small) {
        top: 40%;
    }

    &__close {
        .uk-modal-close-default();
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 30px;
        border: 0;
        cursor: pointer;
        
        @media (min-width: @breakpoint-small) {
            width: 60px;
            height: 60px;
        }

        svg {
            width: 14px;
            height: 14px;
            color: @global-color;
        }
    }

    .form-search {
        top: 0;

        .uk-form-ribbon {
            display: none;

            @media (min-width: @breakpoint-small) {
                display: flex;
                transform: rotate(35deg) translate(50px, -65px);
            }
        }
    }
}