@nav-enquiring-mail-bg: #4b585e;

.nav {
    z-index: 1;
    min-height: 90px;

    .uk-drop {
        width: 100%;
        position: static;

        @media (min-width: @breakpoint-small) {
            position: absolute;
            left: 0 !important;
            width: 100%;
            padding-right: 30px;
            padding-left: 30px;
            background-color: @global-primary-background;
        }
    }

    &__enquiring {
        position: absolute;
        bottom: 0;
        left: 0;
        display: none;
        width: 100%;
        min-height: 60px;
        .font-size(26);

        @media (min-width: @breakpoint-small) {
            display: block;
        }
    }

    &__enquiring-mail {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 20px;
        padding-left: 20px;
        background-color: @nav-enquiring-mail-bg;
    }
}