mixin nav-enquiring
    .nav__enquiring.uk-background-dark.uk-flex.uk-flex-between.uk-flex-middle
        .uk-container.uk-flex.uk-flex-between.uk-flex-middle
            div <span class="uk-light">ENQUIRE NOW</span>&nbsp;&nbsp;<span class="uk-text-primary">CALL</span> <strong class="uk-light"><a href="tel:00000000000">00000 000000</a></strong>
            .uk-flex.uk-flex-middle(class="uk-light")
                span.uk-margin-right OR <strong>EMAIL US</strong>
                .nav__enquiring-mail(data-uk-toggle="target: #modal-contact" title="Contact us form")
                    button(data-uk-icon="mail")

mixin nav
    #offcanvas-slide.mobile-menu(data-uk-offcanvas="")
        .uk-offcanvas-bar.mobile-menu__bar
            nav.uk-navbar-container.nav#mobile-menu(data-uk-navbar="dropbar: true; dropbar-mode: push")
                .uk-navbar-left
                    ul.uk-navbar-nav
                        li
                            a(href="#")
                                span(data-uk-icon="form-select-chevron-down" class="uk-hidden@s uk-margin-small-right uk-text-emphasis")
                                span Golf Holidays
                            .uk-navbar-dropdown.uk-navbar-dropdown--main
                                .uk-container
                                    h2.uk-text-center Select your interest...
                                    .uk-navbar-dropdown__content.uk-position-relative(data-uk-grid)
                                        div(data-uk-height-match=".uk-navbar-dropdown-nav")
                                            button.uk-navbar-dropdown__button(type="button") Golf Holidays
                                            .uk-nav.uk-navbar-dropdown-nav
                                                div(data-uk-grid class="uk-child-width-1-4@s")
                                                    div
                                                        ul
                                                            li
                                                                a(href="#") England
                                                            li
                                                                a(href="#") Wales
                                                            li
                                                                a(href="#") Scotland
                                                            li
                                                                a(href="#") Ireland
                                                            li
                                                                a(href="#") Northern Ireland
                                                    div
                                                        ul
                                                            li
                                                                a(href="#") England
                                                            li
                                                                a(href="#") Wales
                                                            li
                                                                a(href="#") Scotland
                                                            li
                                                                a(href="#") Ireland
                                                            li
                                                                a(href="#") Northern Ireland
                                                    div
                                                        ul
                                                            li
                                                                a(href="#") England
                                                            li
                                                                a(href="#") Wales
                                                            li
                                                                a(href="#") Scotland
                                                            li
                                                                a(href="#") Ireland
                                                            li
                                                                a(href="#") Northern Ireland
                                                    div
                                                        ul
                                                            li
                                                                a(href="#") England
                                                            li
                                                                a(href="#") Wales
                                                            li
                                                                a(href="#") Scotland
                                                            li
                                                                a(href="#") Ireland
                                                            li
                                                                a(href="#") Northern Ireland
                                        div
                                            button.uk-navbar-dropdown__button(type="button") European Golf Holidays
                                            .uk-nav.uk-navbar-dropdown-nav
                                                div(data-uk-grid class="uk-child-width-1-4@s")
                                                    div
                                                        ul
                                                            li
                                                                a(href="#") test1
                                                            li
                                                                a(href="#") test1
                                                            li
                                                                a(href="#") test1
                                                            li
                                                                a(href="#") test1
                                                            li
                                                                a(href="#") test1
                                        div
                                            button.uk-navbar-dropdown__button(type="button") Worldwide Golf Holidays
                                            .uk-nav.uk-navbar-dropdown-nav
                                                div(data-uk-grid class="uk-child-width-1-4@s")
                                                    div
                                                        ul
                                                            li
                                                                a(href="#") test2
                                                            li
                                                                a(href="#") test2
                                                            li
                                                                a(href="#") test2
                                                            li
                                                                a(href="#") test2
                                                            li
                                                                a(href="#") test2
                                        div
                                            button.uk-navbar-dropdown__button(type="button") Holiday Types
                                            .uk-nav.uk-navbar-dropdown-nav
                                                div(data-uk-grid class="uk-child-width-1-4@s")
                                                    div
                                                        ul
                                                            li
                                                                a(href="#") test3
                                                            li
                                                                a(href="#") test3
                                                            li
                                                                a(href="#") test3
                                                            li
                                                                a(href="#") test3
                                                            li
                                                                a(href="#") test3
                                +nav-enquiring
                        li
                            a(href="#")
                                span(data-uk-icon="form-select-chevron-down" class="uk-hidden@s uk-margin-small-right uk-text-emphasis")
                                span Tours & Specialist Holidays
                            .uk-navbar-dropdown.uk-navbar-dropdown--main
                                .uk-container
                                    h2.uk-text-center Select your interest...
                                    .uk-navbar-dropdown__content.uk-position-relative(data-uk-grid)
                                        div(class="uk-width-1-3@s" data-uk-height-match=".uk-navbar-dropdown-nav")
                                            button.uk-navbar-dropdown__button(type="button") Tours & Specialist Holidays
                                            .uk-nav.uk-navbar-dropdown-nav
                                                div(data-uk-grid class="uk-child-width-1-4@s")
                                                    div
                                                        ul
                                                            li
                                                                a(href="#") England
                                                            li
                                                                a(href="#") Wales
                                                            li
                                                                a(href="#") Scotland
                                                            li
                                                                a(href="#") Ireland
                                                            li
                                                                a(href="#") Northern Ireland
                                +nav-enquiring

                        li
                            a(href="#")
                                span(data-uk-icon="form-select-chevron-down" class="uk-hidden@s uk-margin-small-right uk-text-emphasis")
                                span Everything Else
                            .uk-navbar-dropdown.uk-navbar-dropdown--main
                                .uk-container
                                    h2.uk-text-center Select your interest...
                                    .uk-navbar-dropdown__content.uk-position-relative(data-uk-grid)
                                        div(class="uk-width-1-4@s" data-uk-height-match=".uk-navbar-dropdown-nav")
                                            button.uk-navbar-dropdown__button(type="button") Everything Else
                                            .uk-nav.uk-navbar-dropdown-nav
                                                div(data-uk-grid class="uk-child-width-1-4@s")
                                                    div
                                                        ul
                                                            li
                                                                a(href="#") England
                                                            li
                                                                a(href="#") Wales
                                                            li
                                                                a(href="#") Scotland
                                                            li
                                                                a(href="#") Ireland
                                                            li
                                                                a(href="#") Northern Ireland
                                +nav-enquiring
            .uk-navbar-dropbar