.uk-button {
    .font-size(16);
    font-weight: 600;
    transition-duration: @global-transition-duration;

    &:hover,
    &:focus,
    &:active {
        transition-duration: @global-transition-duration;
    }

    .uk-icon {
        margin-right: 12px;
    }
}

.uk-button-large {
    padding: 10px 30px;
    .font-size(20);
    font-weight: 900;
    letter-spacing: 2px;
}

.uk-button-medium {
    .font-size(23);
    padding: 10px 30px;
    font-weight: 600;
    text-transform: none;
}

.uk-button-square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border: 0;
    cursor: pointer;

    .uk-icon {
        margin-right: auto;
        margin-left: auto;
    }
}

.uk-button-info {
    background-color: @button-info-background;

    &:hover,
    &:active,
    &:focus {
        color: @global-inverse-color;
    }

    &:hover {
        background-color: @button-info-hover-background;
    }

    &:active {
        background-color: @button-info-active-background;
    }
}

.uk-button-warning {
    background-color: @button-warning-background;

    &:hover,
    &:active,
    &:focus {
        color: @global-inverse-color;
    }

    &:hover {
        background-color: @button-warning-hover-background;
    }

    &:active {
        background-color: @button-warning-active-background;
    }
}