@scroll-to-bg: #89cc15;
@scroll-to-color: #36434b;
@scroll-to-height: 70px;

.scroll-to {
    z-index: 10;
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: @scroll-to-height;
    height: @scroll-to-height;
    margin-top: -@scroll-to-height / 2;
    margin-right: auto;
    margin-bottom: -@scroll-to-height / 2;
    margin-left: auto;
    background-color: @scroll-to-bg;
    color: @scroll-to-color;

    @media (min-width: @breakpoint-small) {
        display: flex;
    }

    &:hover,
    &:active,
    &:focus {
        background-color: @scroll-to-color;
        color: @scroll-to-bg;
    }

    &--inverse {
        background-color: @scroll-to-color;
        color: @scroll-to-bg;

        &:hover,
        &:active,
        &:focus {
            background-color: @scroll-to-bg;
            color: @scroll-to-color;
        }
    }
}