mixin scroll-to(target)
    a.scroll-to(href= target data-uk-icon="arrow-down" data-uk-scroll title="Scroll to next section")

mixin scroll-to-inverse(target)
    a.scroll-to.scroll-to--inverse(href= target data-uk-icon="arrow-down" data-uk-scroll title="Scroll to next section")