@font-face {
  font-family: 'heebo';
  src: url('../fonts/heebo-regular.woff2') format('woff2'),
      url('../fonts/heebo-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'heebo';
  src: url('../fonts/heebo-black.woff2') format('woff2'),
      url('../fonts/heebo-black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'heebo';
  src: url('../fonts/heebo-bold.woff2') format('woff2'),
      url('../fonts/heebo-bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'heebo';
  src: url('../fonts/heebo-medium.woff2') format('woff2'),
      url('../fonts/heebo-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'jenna-sue';
  src: url('../fonts/jenna-sue.woff2') format('woff2'),
      url('../fonts/jenna-sue.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'high-tide';
  src: url('../fonts/high-tide.woff2') format('woff2'),
      url('../fonts/high-tide.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}