// Overrides of UIkit v3 global variables + custom variables


// Global variables
// ========================================================================


// Breakpoints

@breakpoint-xsmall:                            640px;
@breakpoint-small:                             768px;  // Phone landscape
@breakpoint-medium:                            960px;  // Tablet Landscape
@breakpoint-large:                             1200px; // Desktop
@breakpoint-xlarge:                            1440px; // Large Screens

@breakpoint-xsmall-max:                        (@breakpoint-small - 1);
@breakpoint-small-max:                         (@breakpoint-medium - 1);
@breakpoint-medium-max:                        (@breakpoint-large - 1);
@breakpoint-large-max:                         (@breakpoint-xlarge - 1);

//
// Colors
//


@global-color: #36434b;
@global-emphasis-color: #21A04F;
@global-primary-color: #21A04F;
@global-secondary-color: #17868D;

@global-link-color: @global-color;
@global-link-hover-color: @global-color;

@global-primary-color-light: #46aa6e;
@global-primary-color-bright: #89cc15;


//
// Typography
//


@global-font-family: 'heebo',"Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-jenna-sue: 'jenna-sue',"Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-high-tide: 'high-tide',"Helvetica Neue", Helvetica, Arial, sans-serif;
@base-heading-color: @global-color;

@base-link-hover-text-decoration: none;

//
// Backgrounds
//


@global-muted-background: #eae9e9;
@global-primary-background: #21A04F;
@global-secondary-background: #17868D;
@global-green: #21A04F;

// custom
@global-dark-background: #36434b;
.uk-background-dark {
    background-color: @global-dark-background;
}

.uk-background-primary-light {
    background-color: @global-primary-color-light;
}

.uk-background-primary-bright {
    background-color: @global-primary-color-bright;
}

.uk-background-info {
    background-color: #34b9e6;
}

.uk-background-warning {
    background-color: #ffa602;
}

//
// Borders
//


@global-border-width: 1px;
@global-border: #9499a9;
@global-border-radius: 30px;


//
// Spacings
//

// Used in grid, column, container, align, card, padding
@global-small-gutter:                           15px;
@global-medium-gutter:                          30px;
@global-large-gutter:                           70px;


//
// Form controls
//


@card-default-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.25);

@button-primary-background: @global-primary-background;
@button-primary-color: @global-secondary-color;
// @button-primary-hover-background: @global-secondary-background;
// @button-primary-hover-color: @global-primary-color;
// @button-primary-active-background: @global-secondary-background;
// @button-primary-active-color: @global-primary-color;

@button-secondary-background: @global-primary-background;;
@button-secondary-color: @global-secondary-color;
// @button-secondary-hover-background: @global-primary-background;
// @button-secondary-hover-color: @global-secondary-color;
// @button-secondary-active-background: @global-primary-background;
// @button-secondary-active-color: @global-secondary-color;

@form-radio-background: #fff;


//
// Animations
//


@global-transition-duration: 0.3s;

// card.less
@card-default-title-color: @global-color;

// container.less
@container-max-width: 1140px;
@container-large-max-width: 1725px;


// button.less
@button-default-background: @global-color;
@button-default-color: #fff;
@button-default-hover-background: #151515;
@button-default-hover-color: #fff;
@button-default-active-background: #151515;
@button-default-active-color: #fff;
@button-default-border: @global-color;

@button-secondary-background: @global-secondary-background;
@button-secondary-color: @global-inverse-color;
@button-secondary-hover-background: darken(@button-secondary-background, 5%);
@button-secondary-hover-color: @global-inverse-color;
@button-secondary-active-background: darken(@button-secondary-background, 10%);
@button-secondary-active-color: @global-inverse-color;



@global-info-background: #34b9e6;

@button-info-background: @global-info-background;
@button-info-color: @global-inverse-color;
@button-info-hover-background: darken(@button-info-background, 5%);
@button-info-hover-color: @global-inverse-color;
@button-info-active-background: darken(@button-info-background, 10%);
@button-info-active-color: @global-inverse-color;



@global-warning-background: #ffa602;

@button-warning-background: @global-warning-background;
@button-warning-color: @global-inverse-color;
@button-warning-hover-background: darken(@button-warning-background, 5%);
@button-warning-hover-color: @global-inverse-color;
@button-warning-active-background: darken(@button-warning-background, 10%);
@button-warning-active-color: @global-inverse-color;



// dotnav.less
@dotnav-item-width: 14px;
@dotnav-item-background: @button-default-color;
@dotnav-item-active-background: @button-primary-background;

// forms.less
@form-border: @global-primary-color;
@form-label-color: #222;

// inverse.less
@inverse-global-color: @global-inverse-color;

// modal.less
@modal-background: rgba(70, 170, 110, 0.9);

// navbar.less
@navbar-background: @global-background;
@navbar-nav-item-color: @global-color;
@navbar-nav-item-active-color: @global-color;


// text.less
.uk-text-small {
    .font-size(14);
}